extends ../layouts/base

block content
    if !sermon
        h2 Invalid Sermon
    else
        -var audio = JSON.parse(JSON.stringify(sermon.audio));
        #sermonDetail.row
            .col-md-8
                dl.dl-horizontal
                    dt Title
                    dd=sermon.title
                    dt Speaker
                    dd
                        a(href='/speakers/'+ sermon.speaker.key) 
                            =sermon.speaker.name.full
                    if sermon.series
                        dt Series
                        dd
                            a(href='/series/'+ sermon.series.slug)
                                =sermon.series.name
                    dt Presentation
                        dd
                            if sermon.presentation.exists
                                a(href=sermon.presentation.url) PDF
                            else
                                | Audio only
                    dt Audio
                        dd
                            a(href=`${audio.url}`) MP3 
                            | - Right click and select "save
                            | link as" to download.
                    if (sermon.studyNotes.exists)
                        dt Sermon Notes
                        dd
                            a(href=sermon.studyNotes.url) PDF
                    dt Date
                    dd=sermon._.date.format('DD/MM/YYYY')
                audio(src=`${audio.url}`, controls='', preload='')
            .col-md-4
                if sermon.presentation.exists
                    img.img-responsive.center-block(src=sermon._.presentation.fit(250, 163).replace('.pdf', '.png'))
                else
                    img.img-responsive.center-block(src='/images/nopdf.gif')
