extends ../layouts/base

block content
    if !sermon
        h2 Invalid Sermon
    else
        -var audio = JSON.parse(JSON.stringify(sermon.audio));
        h3
            a(href='/') DOWNLOADS : Sermons : 
            a(href=audio.url)
                =sermon.title
        if sermon.presentation.exists
            if sermon.thumbnail.isPdf
                a(href=sermon.presentation.url).sermonImg
                    img(src=sermon.thumbnail.img)
            else
                img(src=sermon.thumbnail.img)
        else
            img(src='/images/nopdf.gif')

        #sermonDetail
            a(href='/speakers/'+ sermon.speaker.key)
                =sermon.speaker.name.full
            br
            if sermon.series
                | Series:
                a(href=`/series/${sermon.series.slug}`)
                    =sermon.series.name
                br
            br
            | Visual:
            if sermon.presentation.exists
                a(href=sermon.presentation.url) PDF
            else
                | Audio only
            br
            | Audio:
            a(href=`${audio.url}`, download=audio.originalname)
              | MP3
            br
            | Right click and select "save
            | link as" to download.
            if (sermon.partialRecording)
                h3 Only a partial recording.
            br
            if (sermon.studyNotes.exists)
                | Sermon Notes:
                a(href=sermon.studyNotes.url) PDF
                br
            br
            audio(src=`${audio.url}`, controls='', preload='')
            br
            br
            | Date: 
            =sermon._.date.format('DD/MM/YYYY')
            br
            br
            p
